#menubar {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menubar li {
    display: inline-block;
    font-size: 1.5em;    
    margin-right: 20px;
    border-radius: 4px;
}
#menubar li:hover {
    background-color: #dadada;
}

